name: DevSecOps Security Pipeline

on:
  push:
  pull_request:

jobs:
  security-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      # Install Semgrep
      - name: Install Semgrep
        run: pip install semgrep

      # Install REAL TruffleHog v3
      - name: Install TruffleHog
        run: |
          curl -sSfL https://raw.githubusercontent.com/trufflesecurity/trufflehog/main/scripts/install.sh | sh
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      # Secret scan
      - name: Run Secret Scan
        run: trufflehog filesystem . --no-verification

      # SAST scan
      - name: Run SAST Scan
        run: semgrep --config=p/python .
